#goToTop {
    position: fixed;
    z-index: 1;
    left: 50px;
    bottom: 50px;
    background: rgb(226, 58, 86);
    padding: 30px;
    font-size: 26px;
    font-family: sans-serif;
    cursor: pointer;
    display: none;
}